{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <title>Image Book</title>
    </head>


    <body>
    <header>
        <div class="topnav">
                <a class="active" href='{% url "index" %}'>Camera</a>
                <a href='{% url "temp_plot" %}'>Sensor States</a>
                <a href='{% url "view_sensor" %}'>View Sensors</a>
                <a href='#datainput'>Camera Stream</a>
        </div>
    </header>

    <div>
        {% block content %}
        {% endblock content %}
    </div>
    </body>
</html>

