{% extends "base.html" %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <div class="container">
        <h2>
            Heating Monitor - Ringer Station
        </h2>
        <div class="center-div">
            Schau dir die fancy Heizungsüberwachung an! SCHAU!
        </div>

    </div>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Last_Value</th>
            </tr>
         <thead>
        <tbody>
        {% for temp_sensor in object_list %}
            <tr>
                <td>{{ temp_sensor.name }} </td>
                <td>{{ temp_sensor.last_temperature }} </td>
            </tr>
        {% endfor %}
        </tbody>
    <table/>
    <div class="dash">
        <a href='{% url "temp_plot" %}'>Sensor Plot</a>
    </div>
{% endblock %}
