{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <div class="container">
        <h2>
            Heating Monitor - Ringer Station
        </h2>
        <div class="center-div">
            This application is intented to monitor the sophisticated heating functions at the ringer estate.
        </div>

    </div>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Last_Value</th>
                <th>Hardware-ID</th>
            </tr>
         <thead>
        <tbody>

        <td> 1 </td>
        <td> 2 </td>
        <td> 3 </td>
        <td> 4 </td>

        {% for temp_sensor in object_list %}
            <tr>
                <td>{{ temp_sensor.name }} </td>
                <td>{{ temp_sensor.description }} </td>
                <td>{{ temp_sensor.last_temperature }} </td>
                <td>{{ temp_sensor.hw_id }} </td>
            </tr>
        {% endfor %}
        </tbody>
    <table/>
    <div class="dash">
        <a href='{% url "temp_plot" %}'>Sensor Plot</a>
    </div>
{% endblock %}
