{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <div class="container">
        <h2>
            Heating Monitor - Ringer Station
        </h2>
        <div class="center-div">
            This application is intented to monitor the sophisticated heating functions at the ringer estate. (View Sensors)
        </div>

    </div>


    <table>
        <thead>
            <tr>
                <th>Hardware-ID</th>
                <th>Last Value</th>
            </tr>
         <thead>
        <tbody>
        {% for temp_sensor in sensors %}
            <tr>
                {% for val in temp_sensor %}
                    <td>{{ val }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    <table/>
    <div class="dash">
        <a href='{% url "temp_plot" %}'>Sensor Plot</a>
    </div>
{% endblock %}
